@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.btn-primary {
  border: none;
  color: #fff;
  background-color: #400080;
  width: 550px;
  padding: 8px 5px;
  margin: 5px 0px;
  text-align: left;
  
}

#start_button {
  width: 250px;
  text-align: center;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #a64ca6;
  border: none;
}

.btn-primary:focus {
  background-color: #a64ca6;
  border: none;
  outline: none;
  box-shadow: none;
}

.answer-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.display-5 {
  font-size: 35px;
}

#question {
  width: 50%;
  display: inline-block;
  justify-content: center;
  text-align: left;
  font-size: 35px;
}

.navbar-brand {
  color: #a64ca6;
  font-size: 20px;
}

.navbar-brand:hover {
  color: #a64ca6;
  cursor: pointer;
}

#timer-div {
 font-size: 20px;
 position: absolute;
 right: 10px;
 top: 15px;
}

#name:hover {
  background-color: none;
  border-color: black;
  outline:none;
}



